<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>datadiff service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/jsondiffpatch/formatters-styles/html.css" type="text/css" />
    <link rel="stylesheet" href="/css/jsondiffpatch/formatters-styles/annotated.css" type="text/css" />

</head>
<body>
<div id="visual"></div>
<hr/>
<div id="annotated"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var audit = /*[[${audit}]]*/;
    /*]]>*/
</script>


<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jsondiffpatch.min.js"></script>
<script src="/js/jsondiffpatch-formatters.min.js"></script>
<script>
    jQuery(function($) {
        var left = audit.commits[0].data;
        var right = audit.commits[1].data;
        var delta = jsondiffpatch.diff(left, right);

        // beautiful html diff
        $('#visual').html(jsondiffpatch.formatters.html.format(delta, left));

        // self-explained json
        $('#annotated').html(jsondiffpatch.formatters.annotated.format(delta, left));
    });
</script>
</body>
</html>